body{ 
  margin: 0 auto;
  line-height: 1.5;
  padding: 4em 1em;
}

.profile-pic {
  height: 300px;
}

.title {
  font-family: 'Brush Script MT', 'cursive';
  color: red;
  font-size: 100px;   
}

.img-gallery {
  width: auto;
  height: 200px;
}